.item-enter {
    opacity: 0;
    transform: scale(0.9);
}

.item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
}

.cardContainer:hover {
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardContainer:hover {
    transform: scale(1.01);
}

.cardMedia {
    padding-top: 56.25%;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardMedia:hover {
    transform: scale(1.03);
    cursor: zoom-in;
}